.example-card{
    max-width: 13vw;
    min-width: 13vw;
    min-height: 30vh;
    max-height: 30vh;
    margin: 0.5rem;
  }
.header-bg-color{
background-color:#8b7ce2ab;
color: white;
}
.float-right{
    float: right;
}
.margin-left{
    margin-left: 0.3rem;
}
.set-full-width{
    width:100%; 
    margin: 0
}
.border-0{
    border: 0
}
.set-item-center{
    font-size: 1rem;
    align-items: center;
}